body .w-md-editor-text-pre>code,
body .w-md-editor-text-input {
    font-size: 23px !important;
    line-height: 24px !important;
}

.w-md-editor-toolbar {
    height: auto !important;
}

.w-md-editor-toolbar>ul>li>button {
    height: 50px;
    width: 50px;
}

.w-md-editor-toolbar>ul>li>button>svg {
    height: 24px;
    width: 24px;
}